.App {
  text-align: center;
}

.NavLinks {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.NavLinks a {
    color: black;
    margin: 20px;
    padding: 10px 5px;
    text-decoration: none;
}

.NavLinks a:hover,
.NavLinks a:active,
.NavLinks .active {
    color: #d97502;
}
